boto3==1.15.2
botocore==1.18.2
certifi==2020.6.20
chardet==3.0.4
docker==4.3.1
docutils==0.16
gitdb==4.0.5
gitdb2==4.0.2
GitPython==3.1.8
idna==2.10
jmespath==0.10.0
-e git+git@gitlab.com:josjaf/newport_helpers@fc68adbb649a74486712c84a25b6de8c85d79830#egg=newport_helpers
pydocker==1.0.5
pygit==0.1
python-dateutil==2.8.1
requests==2.24.0
s3transfer==0.3.3
six==1.15.0
smmap==3.0.4
smmap2==3.0.1
urllib3==1.25.10
websocket-client==0.57.0
